:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: D80-20, D80-60;
}

.root {
  display: flex;
  flex-direction: column;
}

.skeletonAnimation {
  background: linear-gradient(
    to right,
    transparent,
    value(D80-60),
    transparent 50%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: moveRight 1.6s linear 0.5s infinite;
  transform: translateX(-100%);
  content: ' ';
}

.skeletonAnimationDark {
  background: linear-gradient(
    to right,
    transparent,
    value(D80-60),
    transparent 50%
  );
}

@keyframes moveRight {
  to {
    transform: translateX(100%);
  }
}
