:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: G30, R30, D80;
}

.root {
  background-color: value(D80);
  position: relative;
  padding: 18px 30px;
  min-width: 216px;
}

.root.hovered {
  background-color: #f4fafe;
}

.root.clickable {
  cursor: pointer;
}

.title {
  margin-bottom: 12px;
  display: inline-block;
}

.value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.valueAndPercentage {
  display: flex;
  align-items: center;
}

.loader {
  position: absolute;
  z-index: 2;
  right: 12px;
  top: 12px;
}

.ctaButton {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
}
