:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: G30, R30;
}

.skeletonRectangleBox {
  -st-states: skin(enum(dark, light));
  position: relative;
  overflow: hidden;
}

.skeletonRectangleBox:skin(dark)::after {
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 0, 0, 0.6),
    transparent 50%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: moveRight 1.6s linear 0.5s infinite;
  transform: translateX(-100%);
  content: ' ';
}

.skeletonRectangleBox:skin(light)::after {
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent 50%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: moveRight 1s infinite;
  transform: translateX(-100%);
  content: ' ';
}

@keyframes moveRight {
  to {
    transform: translateX(100%);
  }
}
