@st-global-custom-property --wsr-font-family;

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D80, D10, D70, D10, D55, F00,
  THEME-COLOR-10, THEME-COLOR-20, THEME-COLOR-50;
}
:import {
  -st-from: "../Foundation/stylable/typography.st.css";
  -st-named: text-small-thin;
}

:import {
  -st-from: "../Calendar/DatePickerHead/styles.st.css";
  -st-default: CalendarHeader;
}

:vars {
    rootPadding: 24px;
    rootBackgroundColor: value(D80);
    dayHoverColor: value(THEME-COLOR-50);
    calendarWidth: 300px;
    dayBadgeSize: 36px;
    focusBoxShadowWidth: 3px;
    focusBoxShadow: 0 0 0 value(focusBoxShadowWidth) value(F00);
    boxShadow: 0 0 0 value(focusBoxShadowWidth) value(rootBackgroundColor) inset;
}
.root {
}

.calendarContainer {
  font-size: 14px;
  line-height: 18px;
  font-family: var(--wsr-font-family, "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh",
  "Helvetica Neue", "Helvetica", "Arial", "メイリオ, meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif");
}

.calendarMonths {
  -st-states: twoMonths;
}

.calendarMonth {
  width: value(calendarWidth);
}

.calendarHeader {
  -st-extends: CalendarHeader;
}

.calendarWeekdays {
  background-color: value(rootBackgroundColor);
  padding: 0 value(rootPadding);
}

.calendarWeekdaysRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendarWeekday {
  width: 17px;
  padding: 18px 0 12px;
  color: value(D10);
}

.calendarWeekday abbr {
  text-decoration: none;
}

.calendarBody {
  background-color: value(rootBackgroundColor);
  padding: 0 value(rootPadding) value(rootPadding);
}

.calendarWeek {
  display: flex;
  justify-content: space-around;
}

.calendarDay {
  -st-states: today, selected, disabled, outside, start, end, firstOfMonth, lastOfMonth, singleDay, unfocused;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: value(dayBadgeSize);
  height: value(dayBadgeSize);
  border-radius: 50%;
  cursor: pointer;
  color: value(D10);
  z-index: 1;
  position: relative;
}

.calendarDay:focus {
  outline: none;
  z-index: 10;
}

.calendarDay:focus::after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  outline: none;
  border-color: value(THEME-COLOR-10);
  box-shadow: value(focusBoxShadow);
  content: " ";
  display: block;
  z-index: 11;
}

.calendarDay:focus .dayCircle {
  box-shadow: value(focusBoxShadow);
}

.calendarDay:unfocused, .calendarDay:focus:hover {
  box-shadow: none;
}

.calendarDay:today:not(:selected):not(:hover) {
  background-color: value(D70);
  box-shadow: value(boxShadow);
  z-index: 0;
}

.calendarDay:today:not(:selected):not(:hover):focus {
  box-shadow: value(boxShadow), value(focusBoxShadow);
}

.calendarDay:hover {
  background-color: value(THEME-COLOR-50);
}

.calendarDay:selected:not(:outside) {
  background-color: value(THEME-COLOR-10);
  color: value(D80);
}

.calendarDay:outside, .calendarDay:disabled {
  pointer-events: none;
  color: value(D55);
}

/** for selection mode type range **/
.calendarDay:selected:not(:start):not(:end):not(:outside):not(:singleDay) {
  background-color: value(THEME-COLOR-50);
  border-radius: 0;
  box-shadow: none;
  color: value(D10);
}

.calendarDay:selected:not(:outside):last-of-type,
.calendarDay:lastOfMonth:not(:outside) {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.calendarDay:selected:not(:outside):first-of-type,
.calendarDay:firstOfMonth:not(:outside) {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
/**************************************************************/

.calendarDay:singleDay:not(:outside),
.calendarDay:start:end:not(:outside) {
  background: none !important;
  border-radius: 50% !important;
}

.calendarDay:selected:start:not(:outside) .dayCircle,
.calendarDay:selected:end:not(:outside) .dayCircle,
.calendarDay:singleDay:not(:outside) .dayCircle {
  background-color: value(THEME-COLOR-10);
}

.calendarDay:selected:start:not(:outside):hover .dayCircle,
.calendarDay:selected:end:not(:outside):hover .dayCircle,
.calendarDay:singleDay:not(:outside):hover .dayCircle {
  background-color: value(THEME-COLOR-20);
}

.calendarDay .dayCircle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** for selection mode type range **/
.calendarDay:selected:start:not(:outside) {
  background: linear-gradient(to left, value(THEME-COLOR-50) 0%,value(THEME-COLOR-50) 50%,#000000 50%,transparent 50%,transparent 100%);
  border-radius: 0;
}

.calendarDay:selected:end:not(:outside) {
  background: linear-gradient(to right, value(THEME-COLOR-50) 0%,value(THEME-COLOR-50) 50%,#000000 50%,transparent 50%,transparent 100%);
  border-radius: 0;
}
/************************************************/

/** Two months mode **/
.calendarMonths:twoMonths {
  display: flex;
}

.calendarMonths:twoMonths .calendarMonth:first-child .calendarHeader::arrowRight,
.calendarMonths:twoMonths .calendarMonth:last-child .calendarHeader::arrowLeft,
.calendarMonths:twoMonths .calendarDay:outside {
  visibility: hidden;
}
/************************************************/
