@st-global-custom-property --wsr-font-family;

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D80, D10, D70, D10, D55, F00,
  THEME-COLOR-10, THEME-COLOR-20, THEME-COLOR-50;
}
:import {
  -st-from: "../Foundation/stylable/typography.st.css";
  -st-named: text-small-thin;
}

:import {
  -st-from: "../Calendar/DatePickerHead/styles.st.css";
  -st-default: CalendarHeader;
}

:vars {
    rootPadding: 24px;
    rootBackgroundColor: value(D80);
    dayHoverColor: value(THEME-COLOR-50);
    calendarWidth: 300px;
    dayBadgeSize: 36px;
    focusBoxShadowWidth: 3px;
    focusBoxShadow: 0 0 0 value(focusBoxShadowWidth) value(F00);
    boxShadow: 0 0 0 value(focusBoxShadowWidth) value(rootBackgroundColor) inset;
}
.root {
}

.calendarContainer {
  font-size: 14px;
  line-height: 18px;
  font-family: var(--wsr-font-family, "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh",
  "Helvetica Neue", "Helvetica", "Arial", "メイリオ, meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif");
}

.calendarMonths {
}

.calendarMonth {
  width: value(calendarWidth);
}

.calendarHeader {
  -st-extends: CalendarHeader;
}

.calendarWeekdays {
  background-color: value(rootBackgroundColor);
  padding: 0 value(rootPadding);
}

.calendarWeekdaysRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendarWeekday {
  width: 17px;
  padding: 18px 0 12px;
  color: value(D10);
}

.calendarWeekday abbr {
  text-decoration: none;
}

.calendarBody {
  background-color: value(rootBackgroundColor);
  padding: 0 value(rootPadding) value(rootPadding);
}

.calendarWeek {
  display: flex;
  justify-content: space-around;
}

.calendarDay {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: value(dayBadgeSize);
  height: value(dayBadgeSize);
  border-radius: 50%;
  cursor: pointer;
  color: value(D10);
  z-index: 1;
  position: relative;
}

.calendarDay:focus {
  outline: none;
  z-index: 10;
}

.calendarDay:focus::after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  outline: none;
  border-color: value(THEME-COLOR-10);
  box-shadow: value(focusBoxShadow);
  content: " ";
  display: block;
  z-index: 11;
}

.calendarDay:focus .dayCircle {
  box-shadow: value(focusBoxShadow);
}

.calendarDay.unfocusedDay, .calendarDay:focus:hover {
  box-shadow: none;
}

.today {
}

.selectedDay {
}

.disabledDay {
}

.outsideDay {
}
.unfocusedDay {
}
/*.start {*/
/*}*/
/*.end {*/
/*}*/
/*.firstOfMonth {*/
/*}*/
/*.lastOfMonth {*/
/*}*/
/*.singleDay {*/
/*}*/

.calendarDay.today:not(.selectedDay):not(:hover) {
  background-color: value(D70);
  box-shadow: value(boxShadow);
  z-index: 0;
}

.calendarDay.today:not(.selectedDay):not(:hover):focus {
  box-shadow: value(boxShadow), value(focusBoxShadow);
}

.calendarDay:hover {
  background-color: value(THEME-COLOR-50);
}

.calendarDay.selectedDay:not(.outsideDay) {
  background-color: value(THEME-COLOR-10);
  color: value(D80);
}

.calendarDay.outsideDay, .calendarDay.disabledDay {
  pointer-events: none;
  color: value(D55);
}

/** for selection mode type range **/
.calendarDay.selectedDay:not(:global(.start)):not(:global(.end)):not(.outsideDay):not(:global(.singleDay)) {
  background-color: value(THEME-COLOR-50);
  border-radius: 0;
  box-shadow: none;
  color: value(D10);
}

.calendarDay.selectedDay:not(.outsideDay):last-of-type,
.calendarDay:global(.lastOfMonth):not(.outsideDay) {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.calendarDay.selectedDay:not(.outsideDay):first-of-type,
.calendarDay:global(.firstOfMonth):not(.outsideDay) {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
/**************************************************************/

:global(.singleDay):not(.outsideDay),
.calendarDay:global(.start.end):not(.outsideDay) {
  background: none;
  border-radius: 50%;
}

.calendarDay.selectedDay:global(.start):not(.outsideDay) .dayCircle,
.calendarDay.selectedDay:global(.end):not(.outsideDay) .dayCircle,
.calendarDay:global(.singleDay):not(.outsideDay) .dayCircle {
  background-color: value(THEME-COLOR-10);
}

.calendarDay.selectedDay:global(.start):not(.outsideDay):hover .dayCircle,
.calendarDay.selectedDay:global(.end):not(.outsideDay):hover .dayCircle,
.calendarDay:global(.singleDay):not(.outsideDay):hover .dayCircle {
  background-color: value(THEME-COLOR-20);
}

.calendarDay .dayCircle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** for selection mode type range **/
.calendarDay.selectedDay:global(.start):not(.outsideDay) {
  background: linear-gradient(to left, value(THEME-COLOR-50) 0%,value(THEME-COLOR-50) 50%,#000000 50%,transparent 50%,transparent 100%);
  border-radius: 0;
}

.calendarDay.selectedDay:global(.end):not(.outsideDay) {
  background: linear-gradient(to right, value(THEME-COLOR-50) 0%,value(THEME-COLOR-50) 50%,#000000 50%,transparent 50%,transparent 100%);
  border-radius: 0;
}
/************************************************/

/** Two months mode **/
.calendarContainer.twoMonths .calendarMonths {
  display: flex;
}

.calendarContainer.twoMonths .calendarMonth:first-child .calendarHeader::arrowRight,
.calendarContainer.twoMonths .calendarMonth:last-child .calendarHeader::arrowLeft,
.calendarContainer.twoMonths .outsideDay {
  visibility: hidden;
}
/************************************************/
