:import {
  -st-from: '../SkeletonGroup/SkeletonGroup.st.css';
  -st-named: skeletonAnimation, skeletonAnimationDark;
}

.skeletonLineBox {
  -st-states: skin(enum(dark, light));
  position: relative;
  overflow: hidden;
}

.skeletonLineBox::after {
  -st-mixin: skeletonAnimation;
}

.skeletonLineBox:skin(dark)::after {
  -st-mixin: skeletonAnimationDark;
}
