:import {
  -st-from: '../SkeletonGroup/SkeletonGroup.st.css';
  -st-named: skeletonAnimation, skeletonAnimationDark;
}

.skeletonCircleBox {
  -st-states: skin(enum(dark, light));
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

.skeletonCircleBox::after {
  -st-mixin: skeletonAnimation;
}

.skeletonCircleBox:skin(dark)::after {
  -st-mixin: skeletonAnimationDark;
}
