:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: G30, R30;
}

:import {
  -st-from: '../SkeletonGroup/SkeletonGroup.st.css';
  -st-named: skeletonAnimation;
}

.skeletonCircleBox {
  -st-states: skin(enum(dark, light));
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

.skeletonCircleBox:skin(dark)::after {
  -st-mixin: skeletonAnimation;
}

.skeletonCircleBox:skin(light)::after {
  -st-mixin: skeletonAnimation;
}
